<section class="bg-dark text-white py-5">
  <div class="container">
    <h6 class="py-4">GET IN TOUCH</h6>
    <div class="row align-items-sm-center ">
      <div class="col-4 ">
        <a href="mohamedadelelhadidy2020@gmail.com" class="text-decoration-none text-white">@MohamedElhadidy</a>
        <a href="" class="text-white d-block text-decoration-none">01271657839</a>
      </div>
      <div class="col-4 text-center ">
        <button class="border-white bg-transparent text-white" >CONTACT ME</button>
      </div>
      <div class="col-4 text-end">
        <p>copyright © 2021 EG</p>
      </div>
    </div>
  </div>
</section>
